<div class="container-fluid p-0">
  <div
    class="row d-flex align-items-center justify-content-center text-center home"
  >
    <div>
      <div class="col-12 m-2">
        <a>
          <img
            src="../../assets/LogoFinotex.png"
            alt="icono"
            class="image-fluid"
          />
        </a>
      </div>
      <div class="col-12 m-md-2">
        <a>
          <img
            class="img_ico"
            src="../../assets/header_qr_custom_link.svg"
            alt="header"
          />
        </a>
      </div>
    </div>
  </div>
</div>
